# conversion entre tipos de datos (Casting)

Python siempre determina el tipo de datos automáticamente, es decir no se le tienes que decir que tipo de dato es. Si quieres imprimir números, a menudo necesitarás un casting. ¿Qué pasa si tenemos texto que queremos almacenar como número? Se tiene emitimos dos variables con la cadena de datos al tipo de datos entero y flotante.

Transcribir el siguiente codigo:

In [2]:
num1 = 6
num2 = 4.4567
cad2 = "hola"
print ("el valor del texto es " + cad2)
print ("el valor del numero es " + str(num1))
print ("el valor del numero es " + str(num2))
cad3 = "15"
cad4 = "11.672354"
num3 = int(cad3) + float(cad4)
print ("el valor del numero es " + str(num3))

el valor del texto es hola
el valor del numero es 6
el valor del numero es 4.4567
el valor del numero es 26.672354

### funciones de conversión entre tipos de datos
Para convertir entre tipos de datos puede utilizar:
* **int (x)** Convierte x en un entero
* **long (x)** Convierte x en un entero largo
* **float (x)** Convierte x en un número de punto flotante
* **str (x)** Convierte x a una cadena. x puede ser del tipo float. entero o largo
* **hex (x)** Convierte x entero en una cadena hexadecimal
* **chr (x)** Convierte x entero a un caracter
* **ord (x)** Convierte el carácter x en un entero

### Convertir entre enteros y flotantes
Transcribir el siguiente codigo:

In [3]:
num1 = 57
num2 = 191.8
print (float(num1))
print (int(390.2))
print (int(num2))
print (5 / 2)

57.0
390
191
2.5

### Convertir entre números y cadenas
Podemos convertir números en cadenas usando el método str(). Colocaremos un número o una variable en los paréntesis del método, y luego ese valor numérico se convertirá en un valor de cadena. Primero, veamos primero cómo convertir enteros. Para convertir el entero 12 a un valor de cadena, puede colocar 12 en el método str(). Las cadenas se pueden convertir en números utilizando los métodos int() y float(). Si su cadena no tiene posiciones decimales, probablemente querrá convertirla en un entero utilizando el método int(). Utilizaremos el ejemplo del usuario Sammy realizando un seguimiento de las líneas de código escritas cada día. Es posible que queramos manipular esos valores con cálculos matemáticos para proporcionar una respuesta más interesante para el usuario, pero estos valores se almacenan actualmente en cadenas. En este caso, utilizar el operando + con dos cadenas es una operación válida, pero se concatenarán dos cadenas en lugar de sumarse dos valores numéricos. Por lo tanto, nuestro resultado se ve inusual, ya que solo coloca los dos valores juntos. Queremos convertir estas cadenas en flotantes antes de realizar cualquier cálculo matemático con el método float():

Transcribir el siguiente codigo:

In [9]:
usuario = "sam"
lineas = 5
print ("felicidades, " + usuario + "! acabas de escribir " + str(lineas) + " lineas de codigo en python")

ayer = "50"
hoy = "108"
lineas = int(hoy) - int(ayer)
print (lineas)

totalPuntos = "5524.53"
nuevosPuntos = "45.30"
final = float(totalPuntos) + float(nuevosPuntos)
print (final)

felicidades, sam! acabas de escribir 5 lineas de codigo en python
58
5569.83

### Convertir a booleanos

Una variable booleana es una variable que sólo puede tomar dos posibles valores: True (verdadero) o False (falso). En Python cualquier variable (en general, cualquier objeto) puede considerarse como una variable booleana. En general los elementos nulos o vacíos se consideran False y el resto se consideran True.
Para comprobar si un elemento se considera True o False.

Transcribir el siguiente codigo:

In [1]:
print (bool(""))
print (bool("0"))
print (bool(None))
print (bool (" "))
print (bool(0))

False
True
False
True
False